@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.cursor {
    display: block;
}

.cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    /*mix-blend-mode: difference;*/
    border-radius: 50%;
}

.cursor__inner--svg {
    fill: rgba(0, 0, 0, 0);
    stroke: white;
    stroke-width: 1;
}

.cursor__inner--dot {
    width: 12px;
    height: 12px;
    fill: white;
    background: white;
}

.hover-me {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.hover-me__item {
    width: 250px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.3s ease-in-out;
    border-radius: 10px;
}

.hover-me__item:hover {
    background: rgba(255, 255, 255, 0.05);
}


body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: center url('https://i.postimg.cc/85hwFt9f/background.png');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}