@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sticky-animated-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
}

.sticky-animated-card__scroll {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-animated-card__scroll-title {
    width: 100%;
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    text-align: center;
}

.sticky-animated-card__inner {
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 200px 10% 0;
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    will-change: transform;
}

.sticky-animated-card__column {
    position: relative;
    width: 33%;
    min-width: 190px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sticky-animated-card__image {
    width: 100%;
    aspect-ratio: 0.7;
    object-fit: cover;
    border-radius: 14px;
    border: 2px solid black;
}

.sticky-animated-card__card {
    position: relative;
    opacity: 0;
    height: 16rem;
    max-width: 380px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    background: #9dc4f5;
    overflow: hidden;
}

.sticky-animated-card__card:nth-child(2) {
    background: #fbe74e;
}

.sticky-animated-card__card:nth-child(3) {
    background: #ffcadc;
}

.sticky-animated-card__column--right, .sticky-animated-card__column--left {
    max-width: 380px;
}

.sticky-animated-card__column--right > .sticky-animated-card__card {
    position: absolute;
    width: 100%;
    background: #ecefec;
}

.sticky-animated-card__card h2 {
    max-width: calc(100% - 40px);
    font-size: 1.4rem;
    font-weight: 400;
    word-wrap: break-word;
}

.sticky-animated-card__description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
}

.sticky-animated-card__icon {
    position: absolute;
    top: 0.75rem;
    right: 20px;
    font-size: 2.2rem;
}

.sticky-animated-card__tag {
    position: absolute;
    bottom: 1.2rem;
    left: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    width: fit-content;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    /*background: center url('https://i.postimg.cc/85hwFt9f/background.png');*/
    background: #f4f4f4;
}

html {
    font-size: clamp(16px, 2vw, 24px);
}

* {
    /*font-family: "Audiowide", sans-serif;*/
    font-family: "Open Sans", sans-serif;
    line-height: 110%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
